<center>
  <h1>MIT Course Catalog Parser</h1>
  <form action="table">
    http://student.mit.edu/catalog/<input type="text" name="url"><br /><br />
    <input type="radio" name="term" value="all" id="all">
    <label for="all">Show all courses</label><br />
    <input type="radio" name="term" value="fall" id="fall">
    <label for="fall">Show fall courses</label><br />
    <input type="radio" name="term" value="spring" id="spring">
    <label for="spring">Show spring courses</label><br />
    <input type="radio" name="term" value="summer" id="summer">
    <label for="summer">Show summer courses</label><br />
    <input type="radio" name="term" value="iap" id="iap">
    <label for="iap">Show IAP courses</label><br /><br />
    <input type="submit" value="Generate HTML table" formtarget="_blank">
  </form>
</center>
