<center>
  <div class="config">
    <h1>MIT Course Catalog Parser</h1>
    <form action="table">
      <label for="course">Course number:</label>  
      <input type="text" name="course" size="4"><br />
      <label for="term">Term:</label> 
      <select name="term">
        <option value="all">All</option>
        <option value="fall">Fall</option>
        <option value="spring">Spring</option>
        <option value="summer">Summer</option>
        <option value="iap">IAP</option>
      </select><br />
      <input type="checkbox" name="hide_not_offered" value="1"> 
      <label for="hide_not_offered">Hide courses not offered this year</label><br /><br />
      <input type="submit" value="Generate HTML table" formtarget="_blank">
    </form>
  </div>
</center>
