<html>

<head>
  <title>MIT Course Catalog Parser</title>
  <meta content="width=device-width,initial-scale=1" name="viewport"></meta>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
</head>

<body>
<%= yield %>
</body>

</html>
